<div class="footer col-xs-12">
	<div class="footer-column col-xs-6 col-sm-3">
		<p>EZTRACK Fitness</p>
		<ul class="list-align">
			<li>Rockaway, NJ</li>
			<li><%= mail_to "info@eztrackfitness.com" %></li>
		</ul>
	</div>
		<div class="footer-column col-xs-6 col-sm-3">
			<p>Company</p>
			<ul class="list-align">
				<li><%= link_to "Contact Us", "" %></li>
				<li><%= link_to "Career", "" %></li>
				<li><%= link_to "Investments", "" %></li>
			</ul>
		</div>
		<div class="footer-column col-xs-6 col-sm-3">
			<p>Community</p>
			<ul class="list-align">
				<li><%= link_to "Blog", "" %></li>
				<li><%= link_to "FAQ", "" %></li>
			</ul>
		</div>
		<div class="footer-column col-xs-6 col-sm-3">
			<p>EZTRACK For</p>
			<ul class="list-align">
				<li><%= link_to "Gym Owners", "" %></li>
				<li><%= link_to "Home Gyms", "" %></li>
				<li><%= link_to "Sports Team", "" %></li>
			</ul>
		</div>
		<div class="social-links col-xs-12 center-block text-center">
			<%= link_to "", "", class: "fa fa-facebook" %>
			<%= link_to "", "", class: "fa fa-instagram" %>
			<%= link_to "", "", class: "fa fa-youtube" %>
			<%= link_to "", "", class: "fa fa-twitter" %>
			<%= link_to "", "", class: "fa fa-linkedin" %>
			<br class="clr" />
			<h5>© EZTRACK Fitness / © EZTRACKER</h5>
		</div>
		
</div>