<div id="base" class="container col-xs-12">
	<% @data.each do |data| %>
	<div class="workout-card col-xs-12 col-sm-4">
		<!--
		<span><span>X Coordinates: </span><%= data.x_motion %></span><br class="clr" />
		<span><span>Y Coordinates: </span><%= data.y_motion %></span><br class="clr" />
		<span><span>Z Coordinates: </span><%= data.z_motion %></span><br class="clr" />-->
      <span class="text-center"><span> Workout: </span><span class="category-result"><%= data.exercise_name %></span></h3>
      <hr />
      <span><i class="glyphicon glyphicon-flash"></i><span> Reps: </span><span class="category-result"><%= data.reps_counted %></span></span><br class="clr" />
      <span><i class="glyphicon glyphicon-fire"></i><span> Calories Burned: </span><span class="category-result"><%= data.reps_counted * 0.5 %></span></span><br class="clr" />
      <span><i class="glyphicon glyphicon-heart"></i><span> Total Weight Lifted: </span><span class="category-result"><%= data.weight_lb %></span></span><br class="clr" />
   <hr />
	<span><%=data.created_at.strftime("%B %d - %I:%M:%S %p")%></span>
	</div>
	<% end %>
</div>
<script>
(function poll() {
   setTimeout(function() {
       $.ajax({ url: "/ibeacons", success: function(data) {
            var main = document.getElementById("base")
            sain = ""
            for (var i = 0;i < data.length; i++){
                curr = data[i]
                sain += "<div class='workout-card col-xs-12 col-sm-4'>"
                sain += "<span class='text-center'><span> Workout: </span><span class='category-result'>" + curr.exercise_name.toString() + "</span></h3><hr />"
                sain += "<span><i class='glyphicon glyphicon-flash'></i><span> Reps: </span><span class='category-result'>" + curr.reps_counted.toString() + "</span></span><br class='clr' />"
                sain += "<span><i class='glyphicon glyphicon-fire'></i><span> Calories Burned: </span><span class='category-result'>"+ (curr.reps_counted*0.5).toString() + "</span></span><br class='clr' />"
                sain += "<span><i class='glyphicon glyphicon-heart'></i><span> Total Weight Lifted: </span><span class='category-result'>" + curr.weight_lb.toString() + "</span></span><br class='clr' />"
                sain +="<hr />"
                sain += "<span>Recently Received </span>"
                sain += "</div>"
            }
            main.innerHTML = sain
       }, dataType: "json", complete: poll });
    }, 4000);
})();
</script>

<!-- <button style=" text-align:center;margin:30px 0;"><%= link_to 'Press Me', ibeacons_path, :method => "POST"%></button> -->