<h3>Accept Swift Data Below</h3>

<% @data.each do |data| %>
	<div>
		<span><span>X Coordinates: </span><%= data.x_motion %></span><br class="clr" />
		<span><span>Y Coordinates: </span><%= data.y_motion %></span><br class="clr" />
		<span><span>Z Coordinates: </span><%= data.z_motion %></span><br class="clr" />
        <span><span>Workout: </span><%= data.exercise_name %></span><br class="clr" />
        <!-- <span><span>Reps: </span><%= data.reps_counted %></span><br class="clr" /> -->
	</div>
	<br class="clr" />
	<br class="clr" />
	<br class="clr" />
	<br class="clr" />
<% end %>
<br class="clr" /><br /><br />
<div>