<div class="container col-xs-12">
	<% @data.each do |data| %>
	<div class="workout-card col-xs-12 col-sm-4">
		<!--
		<span><span>X Coordinates: </span><%= data.x_motion %></span><br class="clr" />
		<span><span>Y Coordinates: </span><%= data.y_motion %></span><br class="clr" />
		<span><span>Z Coordinates: </span><%= data.z_motion %></span><br class="clr" />-->
      <span class="text-center"><span> Workout: </span><span class="category-result"><%= data.exercise_name %></span></h3>
      <hr />
      <span><i class="glyphicon glyphicon-flash"></i><span> Reps: </span><span class="category-result"><%= data.reps_counted %></span></span><br class="clr" />
      <span><i class="glyphicon glyphicon-fire"></i><span> Calories Burned: </span><span class="category-result"><%= data.reps_counted * 0.4918.round(2) %></span></span><br class="clr" />
      <span><i class="glyphicon glyphicon-heart"></i><span> Total Weight Lifted: </span><span class="category-result"><%= data.reps_counted * 20 %></span></span><br class="clr" />
	</div>
	<hr />
	<span><%=data.created_at.strftime("%B %d - %l %Mgit ")%></span>
	<% end %>
</div>

<!-- <button style=" text-align:center;margin:30px 0;"><%= link_to 'Press Me', ibeacons_path, :method => "POST"%></button> -->






